.container {
  min-height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.middle {
  margin-bottom: 50px;
}

.loginFormForgot {
  float: right;
}

.loginFormButton {
  width: 100%;
}